In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from datetime import datetime
import plotly
plotly.tools.set_credentials_file(username='bzjin', api_key='jmaLQFWVMgugFAITZZBC')
import plotly.plotly as py
import plotly.graph_objs as go

In [10]:
# "inmate_release_root.csv" has 371,553 rows x 17 columns
reviews = pd.read_csv("inmate_release_root.csv", low_memory=False)

# first 1000 inmates data
first = reviews.iloc[0:10000,:]
reviews.head()

,DCNumber,LastName,FirstName,MiddleName,NameSuffix,Race,Sex,BirthDate,HairColor,EyeColor,Height,Weight,PrisonReleaseDate,ReceiptDate,releasedateflag_descr,custody_description,FACILITY_description
0,56050,CARVER,JESSIE,NaN,NaN,B,M,10/16/32 00:00,BLK,BRO,510.0,NaN,3/20/07 00:00,10/31/55 00:00,valid release date,NaN,CENTRAL OFFICE
1,1,WHITNEY,DENNIS,NaN,NaN,W,M,8/15/42 00:00,GRY,HAZ,508.0,222.0,4/24/05 00:00,7/1/60 00:00,deceased,CLOSE,UNKNOWN-2
2,4,ROBBINS,WAYNE,NaN,NaN,W,M,1/13/69 00:00,BRO,GRN,508.0,160.0,12/11/97 00:00,10/25/95 00:00,valid release date,MINIMUM,PANAMA CITY C.R.C.
3,22,SCHAFFER,DANIEL,NaN,NaN,W,M,12/26/43 00:00,GRY,HAZ,509.0,160.0,2/25/99 00:00,4/3/92 00:00,valid release date,MEDIUM,LAKE C.I.
4,38,BROWNING,HENRY,J,NaN,W,M,11/28/41 00:00,GRY,BLU,509.0,158.0,4/25/11 00:00,7/13/71 00:00,valid release date,MEDIUM,CFRC-MAIN

In [4]:
pd.DataFrame([first["PrisonReleaseDate"], first["ReceiptDate"]])

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
PrisonReleaseDate,3/20/07 00:00,4/24/05 00:00,12/11/97 00:00,2/25/99 00:00,4/25/11 00:00,12/9/14 00:00,10/30/06 00:00,5/6/01 00:00,8/10/08 00:00,6/27/13 00:00,...,2/19/98 00:00,11/30/08 00:00,8/17/13 00:00,4/29/05 00:00,1/31/17 00:00,11/9/10 00:00,12/23/15 00:00,7/31/01 00:00,5/22/98 00:00,12/22/12 00:00
ReceiptDate,10/31/55 00:00,7/1/60 00:00,10/25/95 00:00,4/3/92 00:00,7/13/71 00:00,8/17/82 00:00,4/19/05 00:00,3/8/00 00:00,4/24/96 00:00,8/21/75 00:00,...,2/21/91 00:00,9/26/91 00:00,8/19/09 00:00,3/9/04 00:00,1/31/17 00:00,6/11/81 00:00,12/9/99 00:00,6/12/81 00:00,5/17/90 00:00,3/15/12 00:00

In [5]:
#Simple chart mapping eye color for learning-code purposes
eyeSeries = pd.Series(first["EyeColor"])
eyeArray = np.array(eyeSeries, dtype=pd.Series)

unique, counts = np.unique(eyeArray, return_counts=True)

eyedata=[go.Bar(x=unique, y=counts)]
py.iplot(eyedata, filename='basic-bar')

In [6]:
#Simple chart mapping hair color for learning-code purposes
hairSeries = pd.Series(first["HairColor"])
hairArray = np.array(hairSeries, dtype=pd.Series)

unique, counts = np.unique(hairArray, return_counts=True)

hairdata=[go.Bar(x=unique, y=counts)]
py.iplot(hairdata, filename='basic-bar')

In [7]:
#Release by year
releaseSeries = pd.Series(first["PrisonReleaseDate"])
releaseSeries = pd.to_datetime(releaseSeries)
counts = releaseSeries.groupby(releaseSeries.dt.strftime('%Y')).count().sort_values()
monthyear = releaseSeries.groupby(releaseSeries.dt.strftime('%Y'))
listMY = sorted(list(monthyear.groups.keys()))
yearSort = []
for x in listMY: 
    yearSort.append(counts[x])
    
data=[go.Bar(x=listMY, y=yearSort)]
py.iplot(data, filename='basic-bar')

In [8]:
#Release by months
counts = releaseSeries.groupby(releaseSeries.dt.strftime('%B'), sort=False).count().sort_values()
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"]
monthCount = []
for x in months:
   monthCount.append(counts[x])

data=[go.Bar(x=months, y=monthCount)]
py.iplot(data, filename='basic-bar')

In [9]:
#Simple chart mapping facility for learning-code purposes
facSeries = pd.Series(first["FACILITY_description"])
facArray = np.array(facSeries, dtype=pd.Series)

unique, counts = np.unique(facArray, return_counts=True)
print(len(counts))

facdata=[go.Bar(x=unique, y=counts)]
py.iplot(facdata, filename='basic-bar')

211