In [6]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from datetime import datetime
import plotly
plotly.tools.set_credentials_file(username='bzjin', api_key='jmaLQFWVMgugFAITZZBC')
import plotly.plotly as py
import plotly.graph_objs as go

In [7]:
# "inmate_release_root.csv" has 371,553 rows x 17 columns
reviews = pd.read_csv("inmate_release_root.csv")

# first 1000 inmates data
first = reviews.iloc[0:1000,:]
reviews.head()

/Users/bzjin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning:

Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.

,DCNumber,LastName,FirstName,MiddleName,NameSuffix,Race,Sex,BirthDate,HairColor,EyeColor,Height,Weight,PrisonReleaseDate,ReceiptDate,releasedateflag_descr,custody_description,FACILITY_description
0,47880,MARTIN,WILLARD,NaN,NaN,W,M,06/17/15 00:00:00,BLN,BLU,507.0,151.0,02/19/55 00:00:00,02/12/51 00:00:00,valid release date,NaN,UNION C.I.
1,53946,MEARNS,WILLIAM,W,NaN,W,M,06/01/22 00:00:00,BLK,BRO,507.0,153.0,06/13/65 00:00:00,11/27/54 00:00:00,valid release date,NaN,CENTRAL OFFICE
2,56050,CARVER,JESSIE,NaN,NaN,B,M,10/16/32 00:00:00,BLK,BRO,510.0,NaN,03/20/07 00:00:00,10/31/55 00:00:00,valid release date,NaN,CENTRAL OFFICE
3,000001,WHITNEY,DENNIS,NaN,NaN,W,M,08/15/42 00:00:00,GRY,HAZ,508.0,222.0,04/24/05 00:00:00,07/01/60 00:00:00,deceased,CLOSE,UNKNOWN-2
4,000004,ROBBINS,WAYNE,NaN,NaN,W,M,01/13/69 00:00:00,BRO,GRN,508.0,160.0,12/11/97 00:00:00,10/25/95 00:00:00,valid release date,MINIMUM,PANAMA CITY C.R.C.

In [8]:
pd.DataFrame([first["PrisonReleaseDate"], first["ReceiptDate"]])

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
PrisonReleaseDate,02/19/55 00:00:00,06/13/65 00:00:00,03/20/07 00:00:00,04/24/05 00:00:00,12/11/97 00:00:00,02/25/99 00:00:00,04/25/11 00:00:00,12/09/14 00:00:00,10/30/06 00:00:00,05/06/01 00:00:00,...,06/14/05 00:00:00,08/30/01 00:00:00,12/15/07 00:00:00,09/07/05 00:00:00,03/28/11 00:00:00,02/20/04 00:00:00,05/19/11 00:00:00,03/02/03 00:00:00,10/07/97 00:00:00,12/05/07 00:00:00
ReceiptDate,02/12/51 00:00:00,11/27/54 00:00:00,10/31/55 00:00:00,07/01/60 00:00:00,10/25/95 00:00:00,04/03/92 00:00:00,07/13/71 00:00:00,08/17/82 00:00:00,04/19/05 00:00:00,03/08/00 00:00:00,...,07/27/73 00:00:00,10/18/99 00:00:00,03/26/68 00:00:00,11/18/92 00:00:00,12/08/75 00:00:00,12/01/83 00:00:00,02/26/07 00:00:00,06/18/01 00:00:00,02/24/97 00:00:00,05/03/07 00:00:00

In [22]:
#Simple chart mapping height v. weight for learning-code purposes
hw=[go.Scatter(x=first["Weight"], y=first["Height"], mode='markers')]
py.iplot(hw, filename='basic-scatter')

In [25]:
#Simple chart mapping eye color for learning-code purposes
eyeSeries = pd.Series(first["EyeColor"])
eyeArray = np.array(eyeSeries, dtype=pd.Series)

unique, counts = np.unique(eyeArray, return_counts=True)

eyedata=[go.Bar(x=unique, y=counts)]
py.iplot(eyedata, filename='basic-bar')

In [27]:
#Simple chart mapping hair color for learning-code purposes
hairSeries = pd.Series(first["HairColor"])
hairArray = np.array(hairSeries, dtype=pd.Series)

unique, counts = np.unique(hairArray, return_counts=True)

hairdata=[go.Bar(x=unique, y=counts)]
py.iplot(hairdata, filename='basic-bar')

In [29]:
releaseSeries = pd.Series(first["PrisonReleaseDate"])
releaseArray = np.array(releaseSeries, dtype=pd.Series)

#unique values
unique, counts = np.unique(releaseArray, return_counts=True)

#dateArray = [datetime.strptime(x, '%m/%d/%y %H:%M:%S') for x in releaseArray]
#dates = mpl.dates.date2num(dateArray)
#mpl.pyplot.plot_date(dates)

data=[go.Scatter(x=unique, y=counts, mode='markers')]
py.iplot(data, filename='basic-scatter')